.site-header{
  position: fixed;
  width: 100%;
  background-color: #333;
  padding: 10px 0;
  z-index: 1000;
}
.site-header nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-header nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
body {
  padding-top: 60px; 
}
#top, #table, #images {
  padding: 20px;
  margin: 20px;
}
html, body {
  height: 100%;
  margin: 0;
  overflow: auto; 
}

.container {
  width: 70%;
  margin: 0 auto;}
h1,h2,h3,h4,h5,h6{
  font-family: Arial, sans-serif;
  margin-top: 1.5em;
  margin-top: 20px;
  margin-bottom: 0.5em;}
h1{
  font-size: 32px;}
table.double-borders {
  border: 4px double black;
    border-collapse: separate;
    border-spacing: 2px;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black
}
.table-wrapper{
  overflow-x: auto;
  max-width: 100%;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}
.highlight-border{
  border: 2px solid #999;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 10px;
}
th,td,tr {
  border: 1px solid  black;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}
tbody tr:nth-child(even) {
  background-color: #f9f9f9;
  
}

tbody tr:hover {
  background-color: #f1f1f1;
}
figure{ 
    float: right;
    width: 200px;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 10px;
  
}

